
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Tetretalk</h5>
                <p class="grey-text text-lighten-4">¨Allowing Kids to create games and have fun while learning at the same time¨</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/rules">Rules</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://discordapp.com/invite/CVBGKh">Discord</a></li>
                  <li><a class="grey-text text-lighten-3" href="/jobs">Jobs</a></li>
                  <li><a class="grey-text text-lighten-3" href="/jobs">Terms Of Service & Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Tetretalk Corp - All Rights Reserved
            <a class="grey-text text-lighten-4 right">Off-Site Reviews (Soon)</a>
            </div>
          </div>
        </footer>
            
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
