---
layout: compress
---

<!DOCTYPE html>
<html lang="en" oncontextmenu="return false" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="has-push-menu">
        <div class="mainc" id="mainc">
        {% include svg-icons.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        </div>
            <script>
        var currentHtmlContent;
 
var element = new Image();
 
var elementWithHiddenContent = document.querySelector("#mainc");
 
var innerHtml = elementWithHiddenContent.innerHTML;
 
 
 
element.__defineGetter__("id", function() {
 
    currentHtmlContent= "";
 
});
 
 
 
setInterval(function() {
 
    currentHtmlContent= innerHtml;
 
    console.log(element);
 
    console.clear(); 
 
    elementWithHiddenContent.innerHTML = currentHtmlContent;
 
}, 1000);

    </script>
    </body>
</html>

