<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        <section id="post" class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>

                {{ content }}
            </article>
<script>
    var elem = document.getElementById("post");
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}
            </script>
<!-- <div class="row">
<center>
  <div class="flexbox">
    <div class="col s12">
      <div class="card blue-grey darken-1 tmr">
        <div class="card-content white-text">
          <span class="card-title">Game Access Denied! Reason:</span>
          <p>We are currently working on fixing a bug where games are unplayable. Please stay patient! We are trying to fix this </p><u><b>ASAP</b></u>
            
          <div class="card-action">
          <a href="/">Go Back Home</a>
        </div>
        </div>
      </div>
    </div>
   </div>
</center>
  </div>
<style>
.flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}
</style> -->
        

<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tetretalk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Error: Unable to load comments</a></noscript>
                           
            {% include footer.html %}
        </section>
    </body>
</html>
